<!-- {{'teste' | captalizePhillips}} -->
<!-- <app-nav></app-nav> -->
<!-- <app-exercicio3></app-exercicio3> -->
<!-- <app-exercicio4>
    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima
        libero veniam, modi corrupti doloremque repellendus vitae mollitia. Ipsum
        voluptatibus ea ab quos molestiae at expedita maiores dolore a corrupti!</p>
</app-exercicio4> -->

<!-- <app-exercicio5>
    <span class="titulo">titulo</span>
    <span class="subtitulo">subtitulo</span>
    <span class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa pariatur distinctio illum odit
        mollitia iusto eius saepe natus.</span>
</app-exercicio5> -->
<app-exercicio7></app-exercicio7>