<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" (click)="page = 'home'">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item" (click)="page = 'precos'">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item" (click)="page = 'informacoes'">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div [ngSwitch]="page">
    <h2 *ngSwitchCase="'home'">Estou na página de Home</h2>
    <h2 *ngSwitchCase="'precos'">Estou na página de Preços</h2>
    <h2 *ngSwitchCase="'informacoes'">Estou na página de Informações</h2>
    <h1 *ngSwitchDefault>Default</h1>
</div>